.recsHeader {
	font-family: Arial;
	width: 100%;
	padding: 20px;
	text-align: center;
}

.filterDiv {
	float: left;
	background-color: #5e0202;
	color: #ffffff;
	width: fit-content;
	max-width: auto;
	min-width: 85px;
	overflow-wrap: break-word;
	line-height: auto;
	text-align: center;
	margin: 3px;
	padding: 10px;
	display: none;
}

/* The "show" class is added to the filtered elements */
.show {
	display: block;
}

/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
	background-color: #efffb4;
}

/* Add a dark background to the active button */
.btn.active {
	background-color: #920000;
	color: white;
}
.filterDiv a {
  color: white;
}

.container {
  min-height: 400px;
}

.movies {
  background-color: #3d3ea0;
}
.books {
  background-color: #0056b3;
}
.games {
  background-color: #4e4f8a;
}
.recipes {
  background-color: #7a0da6;
}
.songs {
  background-color: #5c2b24;
}